.main{
    background-color: #2A3540;
    height: 672px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 40px;
}

.main span{
    font-weight: 400;
    font-size: 36px;
    color:#fff
}

.form{
    margin-top: 40px;
}

.form input{
    width: 509px;
    height: 122px;
    border-radius: 6px;
    padding-left: 40px;
    font-size: 36px;
    text-transform: uppercase;
}

.form span{
    position: absolute;
    color:gray;
    pointer-events: none;
    margin-top: 35px;
    margin-left: 40px;
    transition: 0.35s;
}
