.simple-keyboard {
    width: 1024px;
    margin-top: 40px;
    transition: 0.5s;
}

.simple-keyboard.myTheme1 {
    border-radius: 0;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.simple-keyboard.myTheme1 .hg-row:nth-child(1){
    margin:20px 0;
}

.simple-keyboard.myTheme1 .hg-button {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    color: white;
}

.simple-keyboard.myTheme1 .hg-button-backspace {
    background: #de4a4a;
    width: 100px;
}



.simple-keyboard.myTheme1 .hg-button:active {
    background: #1c4995;
    color: white;
}

#root .simple-keyboard.myTheme1 + .simple-keyboard-preview {
    background: #1c4995;
}
