.container{
    height: 56px;
    background-color: white;
    display:flex;
    align-items: center;
    justify-content: center;
}
.button{
    background-color: #518ff3;
    padding:17px 46px 18px 47px;
    font-weight: 500;
    text-decoration:none;
    color:white;
    font-size: 18px;
    position:absolute;
    top: 0;
    left: 0;
}

