.button{
    border: 4px solid white;
    font-size: 32px;
    font-weight: bold;
    color:white;
    padding: 10px 60px;
    border-radius: 15px;
    position: absolute;
    bottom:200px;
    left:50px;
    cursor: pointer;
}
